<!DOCTYPE html>
<html>
<head>
    <title>Student by Campus</title>
</head>
<body>
    <form action="/students" method="POST">
        <input type="text" name="campus" placeholder="Campus">
        <button type="submit">Save</button>
    </form>
    <ul>
      <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
      <% end %>
    </ul>

</body>
</html>