#octopus {
  position: absolute; 
  margin-top: 200px;
  margin-left: 40%;
  z-index:1;


}

#hat {
  position: absolute;
  z-index:3;
  margin-left: 38%;
  margin-top: 120px;
}

#glasses {
  position: absolute;
  z-index:2;
  top: 307px;
  left: 592px;
}